.titulo-inicio{
 margin-left: 600px;
}


.titulo-presentacion{
  text-align: center;
}

.foto-tienda{
  position: relative;
  left: 620px;
  width: 600px;
  height: 400px;
}

.boton-iniciarsesion{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  position: relative;
  left: 500px;
}

.boton-registrarse{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  position: relative;
  left: 900px;
}

.boton-ingresar{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}


.link{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.boton-register{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

form {
  position: relative;
  top: 70px;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.error{
  color: red;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* main */
body{
  background-color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px; /* Espacio entre las tarjetas */
}

.card {
  box-sizing: border-box; 
  border-color: black;
}

.card-title{
  min-height: 70px;
}

.card-text{
  min-height: 80px;
}

h5{
  color: black;
}

a{
  height: 100%;
}

.logo{
  height: 400px;
  width: 300px;
}

.header-usuario{
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
}

.titulo-header{
  color: white;
  width: 400px;
  height: 100px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  top: 150px;
  left: 200px;
}

.subtitulo-header{
  color: white;
  width: 400px;
  height: 100px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.mapa{
  height: 390px;
  width: 650px;
  border-radius: 2px;
  left: 500px;
  position: relative;
}

.titulo-zona1{
  color: black;
  text-align: center;
}

.titulo-zona2{
  color: black;
  text-align: center;
  font-weight: 500px;
}

.agregarACarrito{
  width: 200px;
  height: 40px;
  position: relative;
  top: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 199);
  color: white;
}

.eliminarProducto{
width: 200px;
background-color: rgb(197, 14, 14);
font-family: cursive;
color: white;
}

.footer{
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
}

/*carrito*/

.headerCarrito{
  width: 100%;
  text-align: center;
  position: relative;
  top: 40px;
}

.carrito{
  width: 1600px;
  height: 100%;
  background-color: black;
  margin: 100px;
}

.fotoCarrito{
  width: 250px;
  height: 250px;
}

.contenedorDatos{
margin-left: 300px;
position: relative;
bottom: 255px;
color: white;
height: 50px;
font-family: cursive;
}

.linea2{
  background-color: white;
  width: 100%;
  height: 2px;
}

.total{
  width: 100%;
  color: white;
  text-align: center;
}

.botonPagar{
  position: relative;
  width: 300px;
  height: 100px;
  margin-left: 1400px;
  bottom: 90px;
  font-size: 25px;
  font-family: cursive;
  background-color: rgb(197, 14, 14);
  border: 3px solid black;
  color: white;
}

.gmail{
  width: 50px;
  height: 50px;
}

.telefono{
  width: 50px;
  height: 50px;
}

.localidad{
  width: 50px;
  height: 50px;
}

.direccion{
  width: 50px;
  height: 50px;
}

.instagram{
  width: 50px;
  height: 50px;
}