.titulo-inicio{
 margin-left: 600px;
}


.titulo-presentacion{
  text-align: center;
}

.foto-tienda{
  position: relative;
  left: 620px;
  width: 600px;
  height: 400px;
}

.boton-iniciarsesion{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  position: relative;
  left: 500px;
}

.boton-registrarse{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  position: relative;
  left: 900px;
}

.boton-ingresar{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}


.link{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.boton-register{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

form {
  position: relative;
  top: 70px;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.error{
  color: red;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* main */
body{
  background-color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px; /* Espacio entre las tarjetas */
}

.card {
  box-sizing: border-box; 
  border-color: black;
}

.card-title{
  min-height: 70px;
}

.card-text{
  min-height: 80px;
}

h5{
  color: black;
}


.logo{
  height: 400px;
  width: 300px;
}

.header-usuario{
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
}

.titulo-header{
  color: white;
  width: 400px;
  height: 100px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  top: 150px;
  left: 200px;
}

.subtitulo-header{
  color: white;
  width: 400px;
  height: 100px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.mapa{
  height: 390px;
  width: 650px;
  border-radius: 2px;
  left: 500px;
  position: relative;
}

.titulo-zona1{
  color: black;
  text-align: center;
}

.titulo-zona2{
  color: black;
  text-align: center;
  font-weight: 500px;
}

.agregarACarrito{
  width: 200px;
  height: 40px;
  position: relative;
  top: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 199);
  color: white;
}

.eliminarProducto{
width: 200px;
background-color: rgb(197, 14, 14);
font-family: cursive;
color: white;
}

.footer{
  height: 220px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
}

/*carrito*/

.headerCarrito{
  width: 100%;
  text-align: center;
  position: relative;
  top: 40px;
  font-weight: bold;
}

.carrito{
  width: 1600px;
  height: 100%;
  background-color: white;
  border: 5px solid black;
  margin: 100px;
}

.fotoCarrito{
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

.contenedorDatos{
margin-left: 300px;
position: relative;
bottom: 255px;
font-weight: bold;
height: 50px;
font-family: cursive;
padding-top: 5px;
}

.linea2{
  background-color: black;
  width: 100%;
  height: 5px;
}

.total{
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.frase-carrito{
  margin-left: 100px;
  font-weight: bold;
}

.botonPagar{
  position: relative;
  width: 300px;
  height: 100px;
  margin-left: 1400px;
  bottom: 90px;
  font-size: 25px;
  font-family: cursive;
  background-color: rgb(197, 14, 14);
  border: 3px solid black;
  color: white;
  
}

.gmail{
  width: 50px;
  height: 50px;
}

.telefono{
  width: 50px;
  height: 50px;
}

.localidad{
  width: 50px;
  height: 50px;
}

.direccion{
  width: 50px;
  height: 50px;
}

.instagram{
  width: 50px;
  height: 50px;
}

.registroVentas{
  width: 100%;
  height: 120px;
}

.talle{
  width: 200px;
  background-color: white;
  font-weight: bold;
  margin-bottom: 7px;
}

.eliminarProductoCarrito{
  width: 200px;
  height: 50px;
  background-color: red;
  font-weight: bold;
  margin-top: 40px;
}

.registro{
  text-align: center;
  justify-content: center;
}

.registroVentas {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registroVentas thead {
  background-color: #343a40;
  color: #ffffff;
  text-align: left;
}

.registroVentas th,
.registroVentas td {
  padding: 12px 15px;
  text-align: center;
}

.registroVentas th {
  background-color: #4b4b4b;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.registroVentas td {
  border-bottom: 1px solid #ddd;
}

.registroVentas td:last-child {
  font-weight: bold;
  color: #bd4141;
}

.registroVentas tr:last-child td {
  border-bottom: none;
}
